
version: "3.8"

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "8080:11434"
    volumes:
      - ./ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    restart: unless-stopped

  tizamcprag-api-rag:
    build:
      context: ./api_rag
    container_name: tizamcprag-api-rag
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - ./api_rag/chroma_db:/app/chroma_db
      - ./api_rag/documentos:/app/documentos
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
    depends_on:
      - ollama

  tizamcprag-api-mcp:
    build:
      context: ./api_mcp
    container_name: tizamcprag-api-mcp
    ports:
      - "8002:8000"
    env_file:
      - .env
    environment:
      SQLSERVER_HOST: ${SQLSERVER_HOST}
      SQLSERVER_PORT: ${SQLSERVER_PORT}
      SQLSERVER_USER: ${SQLSERVER_USER}
      SQLSERVER_PASSWORD: ${SQLSERVER_PASSWORD}
      SQLSERVER_DATABASE: ${SQLSERVER_DATABASE}

  n8n:
    build:
      context: .
      dockerfile: n8n/Dockerfile
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=${N8N_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_PASSWORD}
      - N8N_HOST=0.0.0.0
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_EDITOR_BASE_URL=http://localhost:5678
      - N8N_LICENSE_KEY=${N8N_LICENSE_KEY}
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=${N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS}
      - N8N_RUNNERS_ENABLED=${N8N_RUNNERS_ENABLED}
      - NODE_ENV=production
      - TZ=America/Sao_Paulo
      - MCP_USER=${MCP_USER}
      - MCP_PASSWORD=${MCP_PASSWORD}
      - MCP_SERVER_URL=http://tizamcprag-api-mcp:8000
    volumes:
      - ./n8n:/home/node/.n8n
    depends_on:
      - tizamcprag-api-rag
      - tizamcprag-api-mcp
    restart: unless-stopped
